{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-md-8 col-centered">

                {{ macros.flash_messages("danger") }}

                <div class="page-header text-center">
                    <h1>Review-Me Consent Form</h1>
                </div>

                <div class="embed-responsive embed-responsive-16by9">
                    <object class="embed-responsive-item"
                            data="{{ url_for('static', filename='consent/consentform.pdf') }}"></object>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
