{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <span class="label label-danger">{{ message }}</span>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

{% endblock %}
