{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <span class="label label-danger">{{ message }}</span>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="" method="POST" role="form">
                    {{ form.csrf_token }}
                    <legend>Send password reset instructions</legend>

                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required">
                    </div>

                    <button type="submit" class="btn btn-primary">Request New Password</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
