{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-6 col-centered">

                {{ macros.flash_messages("danger") }}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="custom-panel-header">Profile Settings</h3>
                    </div>
                    <div class="panel-body">
                        <p class="fm">Registered Email Id: <strong>{{ user.email }}</strong></p>

                        <hr>

                        <p class="fm">Your Username: <strong>{{ user.username }}</strong></p>

                        <hr>

                        <p class="fm">Your Current Role: <strong>{{ role }}</strong></p>

                        <form action="" method="POST" role="form">
                            {{ form.csrf_token }}

                            {% if user.role == 'jobseeker' %}
                                <button type="submit" name="role" class="btn btn-primary btn-sm" value="volunteer">
                                    Change Role to Volunteer
                                </button>
                            {% else %}
                                <button type="submit" name="role" class="btn btn-primary btn-sm" value="jobseeker">
                                    Change Role to Job Seeker
                                </button>
                            {% endif %}

                            <hr>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                    data-target="#myModal">
                                Deactivate Account
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h3 class="modal-title" id="myModalLabel">Deactivate Account Warning</h3>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to deactivate your account?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                            </button>
                                            <button type="submit" name="deactivate" class="btn btn-warning"
                                                    value="deactivate">
                                                Deactivate Account
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal End -->

                        </form>
                    </div>
                    <!--/panel-body-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
