{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-6 col-centered">

                {{ macros.flash_messages("danger") }}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="custom-panel-header">Profile Settings</h3>
                    </div>
                    <div class="panel-body">
                        <p class="fm">Registered Email Id: <strong>{{ user.email }}</strong></p>

                        <hr>

                        <p class="fm">Your Current Role: <strong>{{ role }}</strong></p>

                        <form action="" method="POST" role="form">
                            {{ form.csrf_token }}

                            {% if user.role == 'jobseeker' %}
                                <button type="submit" name="role" class="btn btn-primary" value="volunteer">
                                    Change Role to Volunteer
                                </button>
                            {% else %}
                                <button type="submit" name="role" class="btn btn-primary" value="jobseeker">
                                    Change Role to Job Seeker
                                </button>
                            {% endif %}
                        </form>
                    </div>
                    <!--/panel-body-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
