{% extends "base.html" %}

{% import '_messages.html' as alerts %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-8 col-centered">

                {{ alerts.flash_messages() }}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h2 class="custom-panel-header">Register</h2>
                    </div>

                    <div class="panel-body">
                        <form action="" method="POST" role="form">
                            {{ form.csrf_token }}

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    {{ form.email(type="email", class="form-control", placeholder="Enter Email", required="required") }}
                                </div>

                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    {{ form.username(size=30, maxlength=50, type="text", class="form-control", placeholder="Enter Username", required="required") }}
                                </div>

                                <div class="form-group">
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="role" id="role1" value="jobseeker" checked> Job
                                            Seeker
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="role" id="role2" value="volunteer"> Volunteer
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    {{ form.password(placeholder="Enter Password", class="form-control", required="required") }}
                                </div>

                                <div class="form-group">
                                    <label for="password-confirm">Confirm Password:</label>
                                    {{ form.confirm(placeholder="Confirm Password", class="form-control", required="required") }}
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="location">Location:</label>

                                    <p>
                                        {{ form.location(type="text", class="typeahead form-control", placeholder="Detroit, MI, United States",
                                               required="required",
                                               autocomplete="off",
                                               title="CITY, STATE, United States",
                                               pattern="^[A-Z a-z]+,[ ]?[A-Za-z]{2,},[ ]United States$") }}
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="source">How did you hear about Review-me?</label>
                                    {{ form.source(class="form-control",
                                               required="required") }}
                                    {{ form.sourceoptional(placeholder="Optional", class="form-control mtm") }}
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <hr>
                                <p>Please remove any personal information when uploading resumes if you wish to remain
                                    anonymous.</p>
                                <button type="submit" class="btn btn-danger">Register</button>
                            </div>
                        </form>
                    </div>
                    <!--/panel-body-->
                </div>
            </div>
        </div>
    </div>



{% endblock %}

