{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <span class="label label-danger">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="" method="POST" role="form">
                    {{ form.csrf_token }}
                    <legend>Register a new user</legend>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required="required" class="form-control"
                               placeholder="Email">
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="role" id="role1" value="jobseeker" checked> Job Seeker
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="role" id="role2" value="volunteer"> Volunteer
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required="required"
                               title="">
                    </div>

                    <div class="form-group">
                        <label for="">Repeat Password:</label>
                        <input type="password" name="confirm" id="confirm" class="form-control" required="required"
                               title="">
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
