{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-md-6 col-centered">

                {{ macros.flash_messages("danger") }}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h2 class="custom-panel-header">Change your password</h2>
                    </div>

                    <div class="panel-body">
                        <form action="" method="POST" role="form">
                            {{ form.csrf_token }}

                            <div class="form-group">
                                <label for="password">Enter New Password:</label>

                                <input type="password"
                                       name="password"
                                       id="password"
                                       class="form-control"
                                       required="required"
                                       placeholder="Enter Password">
                            </div>

                            <div class="form-group">
                                <label for="password-confirm">Confirm New Password:</label>

                                <input type="password"
                                       name="confirm"
                                       id="password-confirm"
                                       class="form-control"
                                       required="required"
                                       placeholder="Confirm Password">
                            </div>

                            <button type="submit" class="btn btn-danger">Change Password</button>
                        </form>
                    </div>
                    <!--/panel-body-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
