{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <span class="label label-danger">{{ message }}</span>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="" method="POST" role="form">
                    {{ form.csrf_token }}
                    <legend>Reset Password</legend>

                    <div class="form-group">
                        <label for="">Enter New Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required="required"
                               title="">
                    </div>

                    <div class="form-group">
                        <label for="">Repeat Password:</label>
                        <input type="password" name="confirm" id="confirm" class="form-control" required="required"
                               title="">
                    </div>

                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
