{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-lg-9 col-centered">

                {{ macros.flash_messages("success") }}

                <div class="page-header">
                    <h3>{{ title }}

                        {% if resume and view %}
                            <a class="btn btn-primary btn-xs" href="/resume/{{ resume.id }}">view resume</a>
                        {% endif %}
                    </h3>
                </div>

                <form method="POST" action="" class="well form-horizontal row-border"
                      enctype="multipart/form-data" role="form">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">Job Title:</label>

                        <div class="col-md-8">
                            <input type="text" class="form-control" name="title" id="title"
                                   placeholder="Enter Desired Job Title"
                                   value="{{ resume.title }}"
                                   required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="content">Job Description:</label>

                        <div class="col-md-8">
                            <textarea class="form-control" name="content"
                                      placeholder="For best results, please consider adding a job description"
                                      id="content">{{ resume.content }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="file">Upload Resume:</label>

                        <div class="col-md-8">
                            <input type="file" name="file" id="file"
                                   accept="text/plain,application/pdf"
                                   required="required">
                            <span class="help-block">File Types Allowed: <strong>pdf and txt</strong>, Max File Size: 1MB</span>
                        </div>
                    </div>
                    <hr>
                    <div class="text-right">
                        <input type="submit" value="Save Resume" id="submitfile" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
