{% extends 'base.html' %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="col-md-8 col-md-push-1">
                <ul>
                    {% for resume in resumes %}
                        <li>
                            <a href="/resume/{{ resume.id }}">{{ resume.title }}</a>
                            {% if current_user.id == resume.user.id %}
                                <a href="/resume/{{ resume.id }}/edit"><span class="label label-info">edit</span></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
