{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row row-centered">
            <div class="col-xs-12 col-lg-9 col-centered">

                {{ macros.flash_messages("success") }}

                <div class="page-header">
                    <h3>Job Title: {{ resume.title }}

                        {% if current_user.id == resume.user.id and resume.lock == False %}
                            <a class="btn btn-primary btn-xs" href="/resume/{{ resume.id }}/edit">edit resume</a>
                        {% endif %}
                    </h3>
                </div>

                <div class="well">
                    <p><strong>Job Description:</strong></p>

                    <p>{{ resume.content }}</p>
                    <hr>
                    <p><strong>Resume:</strong></p>

                    <div id="file_upload" class="embed-responsive embed-responsive-16by9">
                        <object class="embed-responsive-item" data="/uploads/{{ resume.file_upload }}"></object>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
