{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="row well">
            <div class="page-header">
                <h1>{{ resume.title }}</h1>
                {% if current_user.id == resume.user.id %}
                    <p><a href="/resume/{{ resume.id }}/edit"><span class="label label-info">edit</span></a></p>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div id="resume">
                        {{ resume.content }}
                    </div>
                    <div id="file_upload">
                        <a href="/uploads/{{ note.file_upload }}">{{ note.file_upload }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
