{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container">
        <div class="page-header">
            <h1><strong>About Us:</strong></h1>
        </div>
        <h2><strong>Overview:</strong></h2>

        <p>
            <strong>What:</strong> Review.me's goal is to build connections among Detroiters to increase employability
            land more jobs!
        </p>

        <p>
            <strong>Why:</strong> Job seekers in your area have shown success in obtaining job interviews, though many
            do not land these jobs and don’t understand why. You have expressed a need to connect to people who are able
            to provide honest and constructive interview and resume feedback, and to those willing to share who’s hiring
            in your area.
        </p>

        <p>
            <strong>Research:</strong> <a href="http://review-me.us" target="_blank">Review-me.us</a> is run by the
            Social Innovations Group, an interdisciplinary research group at the <a href="https://www.si.umich.edu"
                                                                                    target="_blank">University of
            Michigan’s School of Information</a>. By using Review-me, you are contributing to broader research to help
            us understand how to build better tools to support networking and connecting across diverse groups.
        </p>

        <p>
            <strong>Our Motivation:</strong> We are an interdisciplinary group of individuals who live to design and
            build technologies to solve real-world problems. Check out our team and latest work at <a
                href="http://socialinnovations.us" target="_blank">socialinnovations.us</a>.
        </p>

        <h2><strong>Help Us:</strong></h2>

        <p>
            <strong>Become a mentor:</strong> If you wish to volunteer and provide feedback on interviews and resumes,
            sign up on our main page to become a mentor. Our job seekers are especially looking for feedback from people
            who are currently employed or who have been employed and willing to share their knowledge and experiences.
        </p>

        <p>
            <strong>Sponsors:</strong> This work is partially sponsored by the University of Michigan’s School of
            Information and the National Science Foundation EAGER grant CNS-1352915. If you are interested in providing
            additional support or sponsorship, please contact us at <a href="mailto:ICTResearch@umich.edu">ICTResearch@umich.edu</a>.
        </p><br>


        <div class="page-header">
            <h2><strong>About Review-me:</strong></h2>
        </div>
        <h3><strong>Supported Browsers:</strong></h3>
        <p>In general Review-me supports the most recent versions of the browsers listed in the table below. Review-me has been tested on the most recent versions of these browsers. </p>
        <table class="table">
            <thead>
            <tr>
                <th>Browser</th>
                <th>Version</th>
                <th>Supported</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Google Chrome</td>
                <td>Versions 43, 44</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

            <tr>
                <td>Internet Explorer </td>
                <td>Versions 9, 10</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

             <tr>
                <td>Firefox </td>
                <td>N/A</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>
            
            <tr>
                <td>Safari </td>
                <td>Versions 7, 8</td>
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            </tr>

            </tbody>
        </table>
        <h3><strong>Supported Devices:</strong></h3>
        <p>Review-me was built to have a responsive web design and should work well across all mobile devices including tablets.</p>
    </div>

{% endblock %}
