{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container">
        <div class="page-header">
            <h1><strong>Contact Us:</strong></h1>
        </div>
        <p>
            For questions or comments, please contact us at <a
                href="mailto:ICTResearch@umich.edu" target="_blank">ICTResearch@umich.edu</a>. If you’d like more information about our
            team and latest work, go to <a href="http://socialinnovations.us" target="_blank">socialinnovations.us</a>.
        </p>
    </div>

{% endblock %}
