{% extends "base.html" %}

{% block main %}

    <div class="container-custom">
        <div class="page-header text-center">
            <h1>Job Preparation</h1>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="text-center">Hot Jobs</h2>
                    </div>
                    <div class="panel-body">
                        <p class="text-center">Looking to go back to school? Here are the top 10 out of 25 best jobs of
                            the year per the US News Money article. For a list of all 25 jobs, refer to this <a
                                    href="http://money.usnews.com/money/careers/slideshows/the-25-best-jobs-of-2015">US
                                News article</a>. These jobs were selected because expected employment growth, salary,
                            and manageable work-life balance. Seventy percent of the top ten jobs are health related and
                            thirty percent are technology related.</p>
                        <ol>
                            <li>Dentist</li>
                            <li>Nurse Practitioner</li>
                            <li>Software Developer</li>
                            <li>Physician</li>
                            <li>Dental Hygienist</li>
                            <li>Physical Therapist</li>
                            <li>Computer Systems Analyst</li>
                            <li>Information Security Analyst</li>
                            <li>Registered Nurse</li>
                            <li>Physician Assistant</li>
                        </ol>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Top Jobs without a Degree</h2>
                    </div>
                    <div class="panel-body">
                        <p class="text-center">If you do not have a four-year college degree and unable to obtain one,
                            here is a list of the top jobs not requiring a college education per <a
                                    href="http://www.cbsnews.com/media/the-9-best-jobs-for-people-without-a-college-degree/2/">CBS
                                News</a>. However, all of these jobs will require some skills and training.</p>
                        <ol>
                            <li>Appliance Repairer</li>
                            <li>Paralegal Assistant</li>
                            <li>Computer Service Technician</li>
                            <li>Electrician</li>
                            <li>Respiratory Therapist</li>
                            <li>Multimedia Artist</li>
                            <li>Web Developer</li>
                            <li>Registered Nurse</li>
                            <li>Dental Hygienist</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">Top Interview Tips:</h2>
                    </div>
                    <div class="panel-body">
                        <p>At the time of the interview, you’ll want to remember these eight things according to <a
                                href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/23/the-8-point-checklist-for-job-hunters?int=b67f0a&int=b8e90a">U.S.
                            News: Money</a>.</p>
                        <ol>
                            <li>Dress appropriately - Know the environment in which you will be interviewing. If you
                                have questions, refer to human resources at your target company about what’s
                                appropriate. A general rule of thumb is a suit and tie for a man and the equivalent for
                                a woman but many industries are more casual (e.g., shirt and tie for men and slacks and
                                a nice top for women).
                            </li>
                            <li>Be on time—in fact, you may want to plan to arrive 5-10 minutes early.</li>
                            <li>Know your own resume and make sure that everything on your resume is 100% true.</li>
                            <li>Turn off your cell phone before you enter the building for an interview.</li>
                            <li>Be professional at all times - Don’t let your guard down and use inappropriate
                                vocabulary or a tasteless joke. Never say anything negative about your current place of
                                employment.
                            </li>
                            <li>Be succinct - Before providing a long answer to a question, think about your answer to
                                the question, plot out what’s important, say it, and then be quiet. Follow up only as
                                needed.
                            </li>
                            <li>Be prepared at every stage of the game - Preparation is key for job interviews. Always
                                prepare and investigate the company well enough to write a cover letter, which shows why
                                you make a good fit for the particular position.
                            </li>
                            <li>Be engaged - Be aware of your body language; keep a good posture and avoid slouching in
                                your seat. Always look at the person with whom you are speaking. Use tone and expression
                                to show your passion and excitement for the work.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="text-center">Interview Preparation:</h2>
                    </div>
                    <div class="panel-body">
                        <p>Be sure to prepare for all upcoming interviews. The best way to study is to prepare strong
                            answers to potential questions and practice your answers with a friend! Think through the
                            questions and formulate answers ahead of time. Here are a few of the most common interview
                            questions according to <a
                                    href="http://money.usnews.com/money/careers/slideshows/the-10-most-common-interview-questions?int=9d4c08&int=9d4c08&int=9d4c08">US
                                News: Money</a>:</p>
                        <ol>
                            <li>Tell me about yourself: Prepare a one-minute answer that summarizes where you are in
                                your career and what you’re great at, with a focus on your most recent job. Most
                                interviewers are not interested in your personal life so be careful about discussing
                                information related to hobbies,your family, or details about where you grew up.
                            </li>
                            <li>What interests you about this job? Do not mention salary, benefits, or the short commute
                                to work. Instead, focus on the work itself—not what the job can do for you.
                            </li>
                            <li>If you are leaving a job, you may be asked why. E.g., Why are you thinking about leaving
                                your job? When answering this question, never discuss conflicts with your co-workers or
                                manager or complain about your work. Never badmouth employers. The suggested answer is
                                that you’re seeking new challenges but you must specify what these new challenges will
                                be. It is also okay to mention things such as financial instability of the organization,
                                or a planned move (be sure that these are true).
                            </li>
                            <br>

                            <p text-left>Other common questions to consider:</p>
                            <li>Why would you excel at this job?</li>
                            <li>What do you know about the company so far?</li>
                            <li>Tell me about a time when…(e.g., you took initiative, deal with difficult people,
                                etc.)
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="text-center">Resume Tips</h2>
                    </div>
                    <div class="panel-body">
                        <p>For a list of resume tips, feel free to browse this <a
                                href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/18/what-to-cut-and-what-to-keep-on-your-resume?int=b67f0a&int=b8e90a">U.S.
                            News: Money article</a>.</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">Top 10 Resume Tips from <a href="http://review-me.us">Review-me</a></h2>
                    </div>
                    <div class="panel-body">
                        <p class="text-center">Coming Soon!</p>
                        <ol>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
