{% extends "base.html" %}

{% block main %}

    <div class="container">
        <div class="page-header text-center">
            <h1>Job Preparation</h1>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-primary panel-custom">
                    <div class="panel-heading text-center">
                        <h2><a target="_blank"
                               href="http://money.usnews.com/money/careers/slideshows/the-25-best-jobs-of-2015">Hot
                            Jobs</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Looking to go back to school? Refer to this <a target="_blank"
                                                                          href="http://money.usnews.com/money/careers/slideshows/the-25-best-jobs-of-2015">U.S.
                            News article</a> for a list of the top 25 best jobs of the year. These jobs were selected
                            because expected employment growth, salary, and manageable work-life balance. Seventy
                            percent of the top ten jobs are health related and thirty percent are technology related.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/careers/slideshows/the-10-most-common-interview-questions">Interview
                                Preparation</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Be sure to prepare for all upcoming interviews. The best way to study is to prepare strong
                            answers to potential questions and practice your answers with a friend! Think through the
                            questions and formulate answers ahead of time. Reference this <a target="_blank"
                                                                                             href="http://money.usnews.com/money/careers/slideshows/the-10-most-common-interview-questions">US
                                News: Money</a> article for a few of the most common interview questions.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/23/the-8-point-checklist-for-job-hunters">Top
                                Interview Tips</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>Getting ready to go to an interview? <a target="_blank"
                                                                   href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/23/the-8-point-checklist-for-job-hunters">U.S.
                            News: Money</a> provides a list of things that you should keep in mind at the time of an
                            interview.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://www.cbsnews.com/media/the-9-best-jobs-for-people-without-a-college-degree/2/">Top
                                Jobs without a Degree</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>If you do not have a four-year college degree and are unable to obtain one, check out this
                            list of the top jobs not requiring a college education according to <a target="_blank"
                                                                                                   href="http://www.cbsnews.com/media/the-9-best-jobs-for-people-without-a-college-degree/2/">CBS
                                News</a>. All of these jobs will, however, require some skills and training.</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="panel panel-default panel-custom">
                    <div class="panel-heading text-center">
                        <h2>
                            <a target="_blank"
                               href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/18/what-to-cut-and-what-to-keep-on-your-resume">Resume
                                Tips</a></h2>
                    </div>
                    <div class="panel-body">
                        <p>For a list of resume tips, feel free to browse this <a target="_blank"
                                                                                  href="http://money.usnews.com/money/blogs/outside-voices-careers/2015/06/18/what-to-cut-and-what-to-keep-on-your-resume">U.S.
                            News: Money article</a>.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
