{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container-custom">
        <div class="page-header text-center">
            <h1>Networking</h1>
        </div>
        <p>
            For twelve simple networking tips, take a look at this article from <a
                href="http://www.salary.com/turbo-charge-your-job-search-with-12-easy-networking-tips/slide/2/">Salary.com</a>!
        </p>
        <p>
            For a listing of professional meet ups in the greater Detroit Area, please visit <a href="http://www.meetup.com/find/career-business/?allMeetups=false&radius=5&userFreeform=Detroit%2C+Michigan%2C+USA&mcId=c48201&sort=default">Meetup.com</a>.
        </p>
        <p>
            More coming soon!
        </p>
    </div>

{% endblock %}
