.feedback-tooltip-window {
    align-content: center;
    text-align: left;
    color: #ffd940;
}

.feedback-glyph-info {
    color: #ffd940;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 105px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background-image: url('../img/star-empty-640.png');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background-image: url('../img/star-filled-640.png');
  background-size: contain;
}
.star-rating input {
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i,
i.star-display {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

i.star-display-1 {
    width: 20%;
}
i.star-display-2 {
    width: 40%;
}
i.star-display-3 {
    width: 60%;
}
i.star-display-4 {
    width: 80%;
}
i.star-display-5 {
   width: 100%;
}

