{% extends "base.html" %}

{% block main %}

    <!-- Body of the Webpage -->
    <div class="container">
        <div class="page-header">
            <h1><strong>Admin Dashboard</strong></h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Resume List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Resume List
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Username</th>
                                    <th>Job Title</th>
                                    <th>Link</th>
                                    <th>Anonymous</th>
                                    <th>Feedback</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for resume in resumes %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ resume.user }}</td>
                                        <td>{{ resume.title }}</td>
                                        <td><a href="/resume/{{ resume.id }}" target="_blank">View</a></td>
                                        <td>{{ resume.anon }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- User List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User List
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Username</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                    <th>Active</th>
                                    <th>Account Created</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.active }}</td>
                                        <td>{{ user.timestamp }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Feedback List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Feedback List
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Resume</th>
                                    <th>Link</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for feedback in feedbacks %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ user.resume }}</td>
                                        <td>{{ user.viewed }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
