{% extends "base.html" %}

{% block main %}
    <!-- Body of the Webpage -->
    <div class="container">
        <div class="page-header">
            <h1><strong>Welcome to your Dashboard Admin!</strong></h1>
        </div>
    </div>

    <!-- Show Basic Product Stats -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="alert alert-success" role="alert">
                    <h3 class="text-center">{{ resumes|length }}</h3>

                    <h2 class="text-center">Resumes</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-success" role="alert">
                    <h3 class="text-center">{{ feedbacks|length }}</h3>

                    <h2 class="text-center">Resumes Reviewed</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="alert alert-success" role="alert">
                    <h3 class="text-center">{{ users|length }}</h3>

                    <h2 class="text-center">Users</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
            <div class="col-lg-6">
                <div id="users" style="min-width: 310px; margin: 0 auto"></div>
            </div>
            <div class="col-lg-6">
                <div id="resume_feedback" style="min-width: 310px; margin: 0 auto"></div>
            </div>
            <div class="col-xs-12">
                <div id="sources" style="min-width: 310px; margin: 0 auto"></div>
            </div>
            <div class="col-xs-12">
                <div id="usertypes" style="min-width: 310px; margin: 0 auto; height: 400px;"></div>
            </div>
            <div class="col-xs-12">
                <div id="resumefeedbackcreated" style="min-width: 310px; margin: 0 auto; height: 400px;"></div>
            </div>
            <div class="col-xs-12">
                <div id="totalresumefeedbackcreated" style="min-width: 310px; margin: 0 auto; height: 400px;"></div>
            </div>
        </div>
    </div>


    <!-- Show Detailed Product Stats -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <!-- Resume List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Resumes <span class="badge">{{ resumes|length }}</span>
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>User</th>
                                    <th>Job Title</th>
                                    <th>Link</th>
                                    <th>Anonymous</th>
                                    <th>Created</th>
                                    <th>Last Updated</th>
                                    <th>Feedback</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for resume in resumes %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ resume.user.username }}</td>
                                        <td>{{ resume.title }}</td>
                                        <td><a href="/resume/{{ resume.id }}" target="_blank">View</a></td>
                                        <td>{{ resume.anon }}</td>
                                        <td>{{ resume.created.strftime('%m-%d-%Y, %H:%M') }}</td>
                                        <td>
                                            {% if resume.last_updated %}
                                                {{ resume.last_updated.strftime('%m-%d-%Y, %H:%M') }}
                                            {% else %}
                                                Not updated
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if resume.feedback_list %}
                                                <span class="label label-success" role="alert">
                                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                                Feedback Received
                                                </span>
                                            {% else %}
                                                <span class="label label-danger" role="alert">
                                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                                Needs Attention!
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Feedback List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Feedback <span class="badge">{{ feedbacks|length }}</span>
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Volunteer</th>
                                    <th>Feedback Link</th>
                                    <th>Feedback Created On</th>
                                    <th>Received Thanks?</th>

                                    <th>Jobseeker</th>
                                    <th>Job Title</th>
                                    <th>Resume Created On</th>
                                    <th>Feedback Overall Rating</th>
                                    <th>Resume Link</th>

                                    <th>Time for Review</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for feedback in feedbacks %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ feedback.volunteer.username }}</td>
                                        <td><a href="/feedback/{{ feedback.resume.id }}/{{ feedback.id }}/view"
                                               target="_blank">View Feedback</a></td>
                                        <td>{{ feedback.last_updated.strftime('%m-%d-%Y, %H:%M') }}</td>
                                        <td>
                                            {% if feedback.thank_you_message %}
                                                <span class="label label-info">Yes</span>
                                            {% else %}
                                                <span class="label label-warning">No</span>
                                            {% endif %}
                                        </td>

                                        <td>{{ feedback.user.username }}</td>
                                        <td>{{ feedback.resume.title }}</td>
                                        <td>{{ feedback.resume.created.strftime('%m-%d-%Y, %H:%M') }}</td>
                                        <td>{% if feedback.first_question %}
                                            {{ feedback.first_question }}
                                        {% else %}
                                            Not rated
                                        {% endif %}
                                        </td>
                                        <td>
                                            <a href="/resume/{{ feedback.resume.id }}" target="_blank">View Resume</a>
                                        </td>
                                        <td>
                                            {{ feedback.last_updated - feedback.resume.created }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- User List -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Users <span class="badge">{{ users|length }}</span>
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper table-responsive">
                            <table class="table table-striped table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>User</th>
                                    <th>Registered Role</th>
                                    <th>Present Role</th>
                                    <th>Email</th>
                                    <th>Active</th>
                                    <th>Created</th>
                                    <th>Source</th>
                                    <th>Location</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>
                                            {% if user.role_initial == 'jobseeker' %}
                                                <span class="label label-info">Jobseeker</span>
                                            {% else %}
                                                <span class="label label-warning">Volunteer</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.role == 'jobseeker' %}
                                                <span class="label label-info">Jobseeker</span>
                                            {% else %}
                                                <span class="label label-warning">Volunteer</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.active }}</td>
                                        <td>{{ user.timestamp.strftime('%m-%d-%Y, %H:%M') }}</td>
                                        <td>{{ user.source }}</td>
                                        <td>{{ user.location }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="container">#}
    {#        [Date.UTC(1970, 9, 21), 0], <br />#}
    {##}
    {#        {% for key, value in usertypes.items() %}#}
    {#            {% for item in value %}#}
    {#                {% for k, v in item.items() %}#}
    {#                    {% if k == 'jobseeker' %}#}
    {#                        [Date.UTC{{ key }}, {{ v }}], <br />#}
    {#                    {% endif %}#}
    {#                {% endfor %}#}
    {#            {% endfor %}#}
    {#        {% endfor %}#}
    {##}
    {#    </div>#}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
        $(function () {

            Highcharts.setOptions({
                colors: ['#ff7518', '#5d50a2']
            });

            $('#users').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Current User Stats'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Users',
                    colorByPoint: true,
                    data: [{
                        name: 'Volunteers',
                        y: {{ vcount }}

                    }, {
                        name: 'Jobseekers',
                        y: {{ jcount }}
                    }]
                }],
                credits: {
                    enabled: false
                }
            });
            $('#resume_feedback').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Resume Feedback Stats'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Review',
                    colorByPoint: true,
                    data: [{
                        name: 'Feedbacks',
                        y: {{ feedbacks|count }}

                    }, {
                        name: 'Resumes',
                        y: {{ resumes|count }}
                    }]
                }],
                credits: {
                    enabled: false
                }
            });

            //begin sources graph
            $('#sources').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Sources'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Sources',
                    colorByPoint: true,
                    data: [
                        {% for key, value in sources.iteritems() %}
                            {
                                name: '{{ key }}',
                                y: {{ value }}
                            },
                        {% endfor %}
                    ]
                }],
                credits: {
                    enabled: false
                }
            });
            // end sources graph

            // start user type graph
            $('#usertypes').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'User Types over Time'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Numbers'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%b %e}: {point.y:f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Jobseeker',
                    data: [
                        {% for key, value in usertypes.items() %}
                            {% for item in value %}
                                {% for k, v in item.items() %}
                                    {% if k == 'jobseeker' %}
                                        [Date.UTC{{ key }}, {{ v }}],
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    ]
                }, {
                    name: 'Volunteer',
                    data: [
                        {% for key, value in usertypes.items() %}
                            {% for item in value %}
                                {% for k, v in item.items() %}
                                    {% if k == 'volunteer' %}
                                        [Date.UTC{{ key }}, {{ v }}],
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    ]
                }],
                credits: {
                    enabled: false
                }
            });
            // end user type graph

            // Resume vs feedback created
            $('#resumefeedbackcreated').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Resume vs Feedback Created'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Numbers'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%b %e}: {point.y:f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Resume Created',
                    data: [
                        {% for key, value in resumecreated.items() %}
                            [Date.UTC{{ key }}, {{ value }}],
                        {% endfor %}
                    ]
                }, {
                    name: 'Feedback Provided',
                    data: [
                        {% for key, value in feedbackcreated.items() %}
                            [Date.UTC{{ key }}, {{ value }}],
                        {% endfor %}
                    ]
                }],

                credits: {
                    enabled: false
                }
            });
            // end Resume vs feedback created

            // Start tot resume feedback
            $('#totalresumefeedbackcreated').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Total Resume vs Feedback'
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: 'Date'
                    }
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Numbers'
                    },
                    min: 0
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%b %e}: {point.y:f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        }
                    }
                },

                series: [{
                    name: 'Total Resume',
                    data: [
                        {% for key, value in totalsortedresume.items() %}
                            [Date.UTC{{ key }}, {{ value }}],
                        {% endfor %}
                    ]
                }, {
                    name: 'Total Feedback',
                    data: [
                        {% for key, value in totalsortedfeedback.items() %}
                            [Date.UTC{{ key }}, {{ value }}],
                        {% endfor %}
                    ]
                }],

                credits: {
                    enabled: false
                }
            });
            // end tot resume feedback

        });
    </script>
{% endblock %}
