/*Custom Styles*/
.fm {font-size: 16px}


h4 {
  color: #CE5752;
}

table {
  border-color: #CE5752;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: #c0c0c0;
  border: 2px;
  border-color: #c0c0c0;
  color: white;
  text-align: center;
  font: 22px Arial, sans-serif;
  display: inline-block;
}

.container-custom {
  padding-right: 70px;
  padding-left: 70px;
  margin-right: auto;
  margin-left: auto;
}

.btn-padding {
  padding-top: 50px;
  padding-bottom: 25px;
}

.embed-responsive-16by9 {
  padding-bottom: 85.25%;
}

.page-header {
  margin-top: 20px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    margin-right: 10px;
  }
}

.custom-center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.panel-custom {
  min-height: 300px;
  margin-bottom: 40px;
  h2 > a {
    :hover {
      text-decoration: none;
    }
  }
}

.panel-custom.panel-primary {
  h2 > a {
    color: #FFFFFF;
    :hover {
      color: #B0B0B0;
    }
  }
}

.custom-panel-header{
  font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
