.left {
    float: left;
    width: 50%;
    min-height: 30px;
    padding-right: 20px;
}

.right {
    float: right;
    min-height: 30px;
    width: 50%;
}

.block__list {
    padding: 20px 0;
    /* max-width: 360px; */
    margin-top: 0;
    margin-left: 5px;
    background-color: #fff;
}

.block__list li {
    cursor: move;
}

.block__list_tags {
    padding-left: 30px;
}

.block__list_tags:after {
    clear: both;
    content: '';
    display: block;
}

#right .block__list_tags li {
    color: #fff;
    float: left;
    margin: 8px 20px 10px 0;
    padding: 5px 10px;
    min-width: 10px;
    background-color: #1F3A93;
    text-align: center;
    font-size: 10pt;
}

#left .block__list_tags li {
    color: #FFF;
    float: left;
    margin: 8px 20px 10px 0;
    padding: 5px 10px;
    min-width: 10px;
    text-align: center;
    font-size: 10pt;
}

.done {
    background-color: #1E824C;
}

.notdone {

    background-color: gray;
}

.block__list_tags li:first-child:first-letter {
    text-transform: uppercase;
}

body, table {
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 13pt;
}

.textareac {
    padding: 10px;
    margin: 0;
    background-color: white;
    font-weight: 300;
    font-size: 13pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
    font-weight: 300;
}

/* text styling */
strong {
    font-weight: 600;
}

.warm {
    color: steelblue;
    text-align: justify;
}

.instruction {
    color: darkgray;
}

.message {
    color: #1BA39C
}

/* these are all the same for now, but easy to modify individually */
#container-instructions {
    border: 18px solid #f3f3f3;
    color: #000000;
}

#wrapper #container-instructions h1, #container-instructions p {
    color: #000000;
}

/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
    background: #394864;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background: url(../img/main-bg.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #FFFFFF;
}

a {
    color: #ACBAC1;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #FFFFFF;
    text-decoration: underline;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.btn-default {
    color: #fff;
    background-color: #4F92AF;
    border-color: #4F92AF;
}

.btn-default:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

#wrapper form {
    margin-top: 40px;
}

.form-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

form label {
    display: none;
}

form input.form-control {
    height: 42px;
    width: 300px;
    border-radius: 0;
    border: none;
    color: #000000;
}

form button.btn {
    font-weight: 700;
}

form input.form-control:focus {
    border-color: #fd680e;
}

.has-error .help-block {
    color: yellow;
}

p.success {
    color: yellow;
    margin-top: 40px;
}

/* wrapper */

#wrapper {
    padding: 50px 0;
    min-height: 650px;
    width: 100%;
}

#wrapper h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

#wrapper h1 a {
    color: #FFFFFF;
}

h2.subtitle {
    color: #fff;
    font-size: 24px;
}

h4.subtitle {
    color: #fff;
}

/* footer */
p.copyright {
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}
