{% extends "base.html" %}

{% block title %}Resume Me - Upload Resume{% endblock %}

{% block page_content %}
    {% if requirements.use_sandbox %}
        <form action="https://workersandbox.mturk.com/mturk/externalSubmit" method="post">
    {% else %}
        <form action="https://www.mturk.com/mturk/externalSubmit" method="post">
    {% endif %}

<div id="container-instructions">

    {% for requirement in requirements %}
        <input type="hidden" id="{{ requirement }}" name="{{ requirement }}" value="{{ requirements[requirement] }}"/>
    {% endfor %}

    {% if requirements.assignmentId == ASSIGNMENT_ID_NOT_AVAILABLE %}
        <div id="please_accept"
             style="display: block; position: absolute; font-size: 40; opacity: 0.4; text-align: center;" class="well">
            <p><span class="warm">Please accept the task before continuing</span></p>
        </div>
    {% else %}
    {% endif %}

    {% block content %}

    {% endblock %}
    <!-- <div class="well">
    <p class="instruction">If you have any feedback for us, please provide it below. It will help us to improve. </p>
    <textarea class="form-control" cols="30" id="feedback_comment" name="feedback_comment" placeholder="" rows="1"></textarea>
    </div> -->
    <p class="text-center">
        <input type="submit" id='submitButton' label="Submit"/>
    </p>

</div>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/upload/base_hit.js') }}" type="text/javascript"></script>
{% endblock %}
