{% extends "base.html" %}

{% block title %}Resume Me - Responses{% endblock %}

{% block page_content %}
    <div id="container-instructions" class="well">

        <h1>Responses</h1>

        <p>Filename: {{ requirements.filename }}</p>

        <p>Email: {{ requirements.email_id }}</p>
        <br />
        {% for comment in requirements.comments %}
            <h2>Worker: {{ comment['worker_id'] }} </h2>
            <!-- <h3>Messages</h3> -->
            {% for message in comment.messages %}
                <p><span class='instruction'>Question Asked:</span> <span>{{ message.desc }}</span></p>
                <p><span class='instruction'>Answer:</span> <span>{{ message.text }}</span></p>
                <hr/>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/upload/upload.js') }}" type="text/javascript"></script>
{% endblock %}
