<footer class="footer">
    <div class="container">
        <div class="row text-muted text-center">
            <div class="col-xs-6"><a href="/aboutus">About Us</a></div>
            <div class="col-xs-6"><a href="/contactus">Contact Us</a></div>
        </div>
{#        <div class="row">#}
{#            <div class="col-xs-12 text-center">#}
{#                <p class="copyright">&copy; 2015 | <a href="http://socialinnovations.us" target="_blank">Social#}
{#                    Innovations#}
{#                    Group</a></p>#}
{#            </div>#}
{#        </div>#}
    </div>
</footer>
