<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="custom-footer small text-center">
                <a href="/aboutus">About Us</a> &#149;
                <a href="/contactus">Contact Us</a> &#149;
                <a href="http://socialinnovations.us" target="_blank">Social Innovations Group</a> &#149; &copy;

                <script language="JavaScript" type="text/javascript">
                    var currentDate = new Date()
                    var day = currentDate.getDate()
                    var month = currentDate.getMonth() + 1
                    var year = currentDate.getFullYear()
                    document.write(year + " &#149;" + " version 1.0 &#149; build 2016.19.01")
               </script>

        </div>
    </div>
</footer>
