<footer class="footer">
    <div class="container">
        <div class="row">
            <p class="custom-footer medium text-center">
                <a href="/aboutus">About Us</a> &#149;
                <a href="/contactus">Contact Us</a> &#149;
                <a href="http://socialinnovations.us" target="_blank">Social Innovations Group</a> &#149; &copy; 
                <script type="text/javascript">
                    var d = new Date()
					document.write(d.getFullYear())
			    </script>
                <br>
                version 1.0 &#149;
                build 2015.09.10.1
            </p>
        </div>
    </div>
</footer>
