<header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Review.me&nbsp&nbsp<span class="glyphicon glyphicon-home"
                                                                          aria-hidden="true"></span></a>
            </div>

            <!-- Collect the nav links and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/job_preparation">Job Preparation</a></li>
                    <li><a href="/feedback/seeker">Get Feedback</a></li>
                    <li><a href="/feedback/volunteer">Give Feedback</a></li>
                    <li><a href="/networking">Networking</a></li>
                </ul>
                <!-- The drop down menu -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li>
                            <a href="/resume/create">Create new Resume</a>
                        </li>
                        <li>
                            <a href="#">{{ current_user.email }}</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
