{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}


    <div class="container">
        <div class="row">
            <div class="page-header">
                <h3>Job Title: {{ resume.title }}

                    {% if current_user.id == resume.user.id and resume.lock == False %}
                        <a class="btn btn-primary btn-xs" href="/resume/{{ resume.id }}/edit">edit resume</a>
                    {% endif %}
                </h3>
            </div>

            {{ macros.resume_block(resume.content, resume.file_upload, "7") }}

            <div class="col-md-5">
                <form method="POST" action="" id="volunteer_feedback_edit" class="form-horizontal vividHeaders">

                    {{ macros.flashed_messages("danger") }}

                    <fieldset>
                        <input type="hidden" name="resume_id" value={{ resume.id }}
                        <legend>
                            {{ title }}
                        </legend>
                        {% for section, code in [("Overall, the skills and experience listed on this resume match
                            the job description specified.", 1),("Formatting Issues", 2),("Education", 3),
                                                   ("Experience", 4),("Skills/Misc", 5)] %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ section }}</h2>

                                    <div class="control-group">
                                        <div class="controls">
                                            <label>Rating</label> {{ macros.stars(code) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group panel-body">
                                    <div class="controls">
                                            <textarea class="form-control input-md" rows=3 name="content_{{ code }}"
                                                      id="content_{{ code }}" placeholder="Enter Feedback"
                                                      required></textarea>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Submit feedback and show me hit button" class="btn btn-primary">
                </form>

                <form id ="mturk_form">
                  {% if feedback_is_received %}
                    <input type="submit" value="Submit Hit"
                    onclick="alert('Thanks for submitting the HIT!'); $('.mturk_form').submit();">
                  {% endif %}
                </form>


            </div>
        </div>
    </div>



{% endblock %}
