{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 class="well">
                    {% if current_user.id == resume.user.id %}
                        {% if resume.lock == False %}
                            <a href="/resume/{{ resume.id }}/edit" class="btn btn-default btn-lg">edit</a>
                        {% endif %}
                    {% endif %}
                    {{ resume.title }}
                </h1>
            </div>

            {{ macros.resume_block( resume.content, resume.file_upload, "6") }}

            <div class="col-md-6">

                {{  macros.flashed_messages("success") }}

                <legend>
                    {{ title }}
                </legend>
                {% include "feedback/feedback.html" %}
                {% if current_user.id == resume.user.id %}
                    {% if feedback.review_lock == false %}
                        <a href="/feedback/{{ resume.id }}/{{ feedback.id }}/review"
                           class="btn btn-info btn-md">Rate your feedback</a>
                    {% endif %}
                {% endif %}

                <form id ="mturk_form">
                    <input type="submit" value="Submit Hit"
                    onclick="alert('Thanks for submitting the HIT!'); $('.mturk_form').submit();">
                </form>

            </div>
        </div>
    </div>



{% endblock %}
