{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}


    <div class="container">
        <div class="row">
            <div class="page-header">
                <h3>Job Title: {{ document.title }}

                    {% if current_user.id == document.user.id and document.lock == False %}
                        {#  TODO Needs to be updated to change text based on type. #}
                        <a class="btn btn-primary btn-xs" href="/document/{{ document.id }}/edit">edit document</a>
                    {% endif %}
                </h3>
            </div>

            {#  TODO Needs to be updated to use type to determine what block function to use. #}
            {{ macros.resume_block(document.content, document.file_upload, "7") }}

            <div class="col-md-5">
                <form method="POST" action="" id="volunteer_feedback_edit" class="form-horizontal vividHeaders">

                    {{ macros.flashed_messages("danger") }}

                    <fieldset>
                        <legend>
                            {{ title }}
                        </legend>
                        {% for section in sections %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ section.section_question.question_text }}</h2>

                                    <div class="control-group">
                                        <div class="controls">
                                            <label>Rating</label> {{ macros.stars(section.max_section_rating,
                                                                         section.section_question.question_id) }}
                                        </div>
                                    </div>

                                </div>

                                <div class="control-group panel-body">
                                    {{ macros.section_field(section) }}
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Submit feedback" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>

{% endblock %}
