{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row">

            {{ macros.resume_block(resume.content, resume.file_upload, "368", "475", "5") }}

            <div class="col-md-7">
                <form method="POST" action="" id="volunteer_feedback_edit" class="well form-horizontal">
                    <fieldset>
                        <legend>
                            {{ title }}
                        </legend>
                        {% for section, code in [("Overall Feedback", 1),("Formatting Issues", 2),("Education", 3),
                                                   ("Experience", 4),("Skills/Misc", 5)] %}
                            <p>
                            <div class="bg-primary" for="section_{{ code }}">{{ section }}</div>

                            <div class="control-group">
                                <label class="control-label" for="rating">Rating</label>

                                <div class="controls">
                                    {% for rating, value in [("One Star", "1"),("Two Star", "2"), ("Three Star", "3"),
                                                                 ("Four Star", "4"), ("Five Star", "5")] %}
                                        <input type="radio" class="span7 input-xlarge" name="rating_{{ code }}"
                                               id="rating_{{ code }}" value={{ value }}>{{ rating }}</input>
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="control-group">
                                <div class="controls">
                                        <textarea class="form-control input-md" rows=3 name="content_{{ code }}"
                                                  id="content_{{ code }}" placeholder="Enter Feedback"></textarea>

                                </div>
                            </div>
                            </p>
                        {% endfor %}
                    </fieldset>
                    <input type="submit" value="Submit feedback" class="btn btn-primary">
                </form>

            </div>
        </div>
    </div>

{% endblock %}
