{% macro feedback_block(name, rating, content) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ name }} {{ stars_static(rating) }}</h3>
        </div>
        <div class="panel-body">
            {{ content }}
        </div>
    </div>
{%- endmacro %}


{% macro resume_block(content, upload_path, col_size) -%}
    <div id="resume" class="col-md-{{ col_size }}">
        <div class="well">
            <p><strong>Job Description:</strong></p>

            <p>{{ content }}</p>
            <hr>
            <p><strong>Resume:</strong></p>

            <div id="file_upload" class="embed-responsive embed-responsive-16by9">
                <object class="embed-responsive-item" data="/uploads/{{ upload_path }}"></object>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro flashed_messages(alert_type) -%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ alert_type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}


{% macro stars(code) -%}
    <span class="star-rating">
        <input type="radio" name="rating_{{ code }}" value="1" required><i></i>
        <input type="radio" name="rating_{{ code }}" value="2" required><i></i>
        <input type="radio" name="rating_{{ code }}" value="3" required><i></i>
        <input type="radio" name="rating_{{ code }}" value="4" required><i></i>
        <input type="radio" name="rating_{{ code }}" value="5" required><i></i>
    </span>
{%- endmacro %}

{% macro stars_static(rating) -%}
    <span class="star-rating"><i class="star-display star-display-{{ rating }}"></i></span>
{%- endmacro %}
