{% macro feedback_block(name, rating, content) -%}
    <div class="panel panel-primary vividHeaders">
        <div class="panel-heading">
            <h3 class="panel-title">{{ name }} {{ stars_static(rating) }}
            </h3>
        </div>
        <div class="panel-body">
            {{ content }}
        </div>
    </div>
{%- endmacro %}

{# TODO: Need to create a function that calls the various "block" functions based on type of document #}
{% macro resume_block(content, upload_path, col_size) -%}
    <div id="resume" class="col-md-{{ col_size }}">
        <div class="well">
            <p><strong>Job Description:</strong></p>

            <p>{{ content }}</p>
            <hr>
            <p><strong>Resume:</strong></p>

            <div id="file_upload" class="embed-responsive embed-responsive-16by9">
                <object class="embed-responsive-item" data="/uploads/{{ upload_path }}"></object>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro flashed_messages(alert_type) -%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ alert_type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}


{% macro stars(max_rating, question_id) -%}
    <span class="star-rating">
        {% for value in range(1, max_rating|int) %}
            <input type="radio" name="rating_{{ question_id }}" value={{ value }} required data-toggle="tooltip"><i></i>
        {% endfor %}
    </span>
    {{ stars_help() }}
{%- endmacro %}


{% macro stars_static(rating) -%}
    <span class="star-rating"><i class="star-display star-display-{{ rating }}"></i></span>
    {{ stars_help() }}
{%- endmacro %}


{% macro stars_help() -%}
    <span class="glyphicon glyphicon-question-sign feedback-glyph-info feedback-tooltip" aria-hidden="true"
          data-toggle="tooltip"
          data-placement="top"
          data-html="true"
          title="<span>
<p><strong>Star Ratings:</strong><br/>
1 Star  = Poor<br/>
2 Stars = Okay<br/>
3 Stars = Fair<br/>
4 Stars = Good<br/>
5 Stars = Excellent</p></span>">
    </span>
{%- endmacro %}


{% macro choices(question_number, width=6, col_size="sm", size="sm") -%}
    <div class="text-center col-{{ col_size }}-{{ width }}" data-toggle="buttons">
        {% for choice in varargs: %}
            <label class="btn btn-default btn-{{ size }} surveyChoice">
                <input type="radio" name="{{ question_number }}" value="{{ loop.index }}" required>
                {{ choice }}</input></label>
        {%  endfor %}
    </div>
{%- endmacro %}


{% macro feedback_list_display(document, feedback_list, header_type) -%}
    {% if feedback_list.id == document.id %}
        {% for feedback in feedback_list %}
            <div class="panel-body">
                <h{{ header_type }}>
                    <a href="/feedback/{{ document.id }}/{{ feedback.id }}/view">
                        <small>(feedback)</small>
                        {{ feedback.last_updated|feedback_datetime }}
                        {% if feedback.viewed == False %}
                            <span class="label label-warning">New</span>
                        {% endif %}
                    </a>
                </h{{ header_type }}>
            </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}


{% macro section_field(section) %}
    {% if section.section_question.question_type == 0 %}
        <div class="controls">
            <textarea class="form-control input-md" rows=3 name="section_{{ section.section_question.question_id }}"
                    id="{{ section.section_question.question_id }}" placeholder="Enter Feedback"
                            required></textarea>
        </div>

    {# TODO Check to see if col_size and width are even necessary #}
    {% elif section.section_question.question_type == 1 %}
        <div class="text-center col-{{ col_size }}-{{ width }}" data-toggle="buttons">
            {% for choice in section.section_question.question_choices: %}
                <label class="btn btn-default btn-{{ size }} surveyChoice">
                    <input type="radio" name="section_{{ section.section_question.question_id }}"
                           id={{ section.section_question.question_id }} value="{{ loop.index }}" required>
                        {{ choice }}</input></label>
            {%  endfor %}
        </div>
    {% elif section.section_question.question_type == 2 %}
        {# TODO Implement code for allowing multiple selections; in particular will need tags that differentiate
           TODO the values #}
    {% endif %}
{%- endmacro %}


