{% extends 'base.html' %}

{% import 'feedback/macros.html' as macros %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ macros.flashed_messages("info") }}
        </div>
    </div>

    {% if not resume %}

        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-12 col-md-6 col-centered">

                    <div class="alert alert-danger center-block" role="alert">
                        You have no resume uploaded currently. Please Create New Resume.
                    </div>
                    <p class="text-center">
                        <a href="/resume/create" class="btn btn-success">Create New Resume</a>
                    </p>

                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            {% for r in resume %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>
                                    {% if current_user.id == r.user.id and r.lock == False %}
                                        <a href="/resume/{{ r.id }}/edit" class="btn btn-primary btn-xs">edit</a>
                                    {% endif %}
                                    <a href="/resume/{{ r.id }}">
                                        <small>(resume)</small>
                                        {{ r.title }}</a>
                                </h4>
                            </div>

                            {% for f in feedback %}
                                {% if f.resume.id == r.id %}
                                    <div class="panel-body">
                                        <h5>
                                            <a href="/feedback/{{ r.id }}/{{ f.id }}/view">
                                                <small>(feedback)</small>
                                                {{ f.last_updated|feedback_datetime }}
                                                {% if f.viewed == False %}
                                                    <span class="label label-warning">New</span>
                                                {% endif %}
                                            </a>
                                        </h5>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
