{% extends 'base.html' %}

{% import 'feedback/macros.html' as macros %}

{% block main %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ macros.flashed_messages("info") }}
        </div>
    </div>


    {% if not document_list %}

        <div class="container">
            <div class="row row-centered">
                <div class="col-xs-12 col-md-6 col-centered">

                    <div class="alert alert-danger center-block" role="alert">
                        You have no resume uploaded currently. Please Create New Resume.
                    </div>
                    <p class="text-center">
                        <a href="/resume/create" class="btn btn-success">Create New Resume</a>
                    </p>

                </div>
            </div>
        </div>

    {% else %}
        <div class="container">
            {% for document in document_list %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>
                                    {% if current_user.id == document.user.id and document.lock == False %}
                                        <a href="/resume/{{ document.id }}/edit" class="btn btn-primary btn-xs">edit</a>
                                    {% endif %}
                                    <a href="/resume/{{ document.id }}">
                                        <small>(resume)</small>
                                        {{ document.title }}</a>
                                </h4>
                            </div>

                            {% for feedback_list in feedback_list_array %}
                                {{ macros.feedback_list_display(document, feedback_list, 5) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
