{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}

    {%  include "flashed_messages.html" %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>{{ resume.title }}</h1>
                {% if current_user.id == resume.user.id %}
                    <p><a href="/resume/{{ resume.id }}/edit"><span class="label label-info">edit</span></a></p>
                {% endif %}
            </div>

            {{ macros.resume_block( resume.content, resume.file_upload, "368", "475", "5") }}

            <div class="col-md-7">
                {% include "feedback/feedback.html" %}
            </div>
        </div>
    </div>

{% endblock %}
