{% extends "base.html" %}

{% import 'feedback/macros.html' as macros %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h3>Job Title: {{ document.title }}

                    {% if current_user.id == document.user.id and document.lock == False %}
                        {#  TODO Needs to be updated to change text based on type. #}
                        <a class="btn btn-primary btn-xs" href="/document/{{ document.id }}/edit">edit document</a>
                    {% endif %}
                </h3>
            </div>

            {#  TODO Needs to be updated to use type to determine what block function to use. #}
            {{ macros.resume_block(document.content, document.file_upload, "7") }}

            <div class="col-md-5">
                {{  macros.flashed_messages("success") }}
                <legend>
                    {{ title }}
                </legend>
                {{ macros.feedback_view(sections) }}
            </div>
        </div>
    </div>

{% endblock %}
