{% extends 'base.html' %}

{% block main %}

    {% if not resume %}
        <div class="well page-header">
            <h1>There are no resumes available for review.</h1>
        </div>
    {% else %}
        <div class="container">
            {% for r in resume %}
                <div class="row well">

                    <div class="col-sm-12">
                        <p class="text-uppercase"><a href="/resume/{{ r.id }}">Resume: {{ r.title }}</a></p>
                        {% if current_user.id != r.user.id %}
                            <a href="/feedback/{{ r.id }}/create"><span class="label label-info">
                                give feedback</span></a>
                        {% else %}
                            <span class="label label-warning">Error: volunteer ID mismatch</span>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
