<p>We received account re-activation request for your Review-me account {{ user.email }}.</p>
<br>
<p>If you made this request, then please <a href="{{ url }}activate/{{ reset_link }}">Click here to activate your
    account</a></p>
<br>
<p>This link will work for 2 hours or until you re-activate your account.</p>
<br>
<p>If you did not ask to re-activate your account, then please ignore this email and no changes will be made to your
    account. Another user may have entered your username by mistake.</p>
<br>
<br>
<p>The Social Innovations Group</p>
